{% extends 'base.html' %}
{% block title %} {{ object.name }} details {% endblock %}

{% block content %}
    <h1> {{ object.name }} </h1>
<a href="{% url 'home-page' %}">Back</a>
    <div class="" style="display: inline;">
        </h3><a href="{% url 'product-detail' object.id %}">{{ object.name }}</a></h3>
        <p>{{ object.desc }}</p>
        <p>{{ object.price }}</p>
        <a href="{% url 'product-delete' object.id %}">Delete</a>
        <a href="{% url 'product-update' object.id %}">Update</a>
    </div>
{% endblock %}